html, body {
  height: 100%;
  margin: 0;
}

body {

  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
    border: 1px solid white;
}

div {
  width: 100px;
  height: 150px;
  background-color: yellowgreen;
  padding: 20px;
  border-radius: 2px;
  text-align: top;
}

h1 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 10px 0;
}

span {

  font-weight: bold;
}